body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.nev-section{
    display: flex;
}


.nav-img img {
    width: 172px;
    padding: 1px 18px 9px;
    margin: 7px 4px 5px;
}





.topnav {
    overflow: hidden;
    background-color: #fff;
    display: flex;
    justify-content: end;
    padding: 19px 15px -1px 0px;
    margin: -68px 49px 57px 450px;
    color: black;
}

.topnav a {
    font-weight: bolder;
    color: black;
    text-align: center;
    padding: 10px 35px;
    text-decoration: none;
    font-size: 19px;
  
    margin: 1px 16px 22px 24px;
    border-radius: 13px;
    box-shadow: -3px -3px 19px 3px gray;
}


.topnav a:hover {
    background-image: linear-gradient(tomato,orange);
    

}

.topnav a.active {
  background-color: #e0eee9;
  color: rgb(0, 0, 0);
}



.header{
    display: flex;
}

.half h2{
 font-size: 49px;
 margin-bottom: 5px;
}
  
.txt {
    margin-right: -40px;
    margin: 101px 105px 0px 88px;
   
}
.img-head{
    width: 100%;
}
.half p {
    margin-bottom: 76px;
}

.half{
    width: 40%;
}
.orange{
    color: orange;
}

.button {

    margin-bottom: 20px;
    padding:15px 17px;
    background-image: linear-gradient(tomato,orange);
    border-radius: 30px;
    text-decoration: none;
    color: white;
   
}

.img-about{
   width: 50%;
    margin: 14px 170px -3px;
}

.About-us{
    display: flex;
    background-image: url(images/shapes/Frame\ 59.jpg);
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.add{
    margin: auto;
}

.recipies-text{
    text-align: center;
    margin-bottom: 50px;
}

.card-img img{
   
    width: 119%;
    margin: -45px;
    height: 105%;
    margin: -22px;
  
   

   
}
.card {
    background-color: #fff;
    margin: auto;
    width: 239px;
    padding: 41px;
    border-radius: 37px;
    
    box-shadow: 1px -1px 3px 2px #d8d8d8;
}
.order-food{
    display: flex;
   
    margin-left: 72px;
    margin-right: 104px;
    margin-bottom: 80px;
}

.box{
background-color: white;
padding: 197,847;
display: flex;
justify-content: center;
border-radius: 17px;
margin: 8px 84px;
height: 199px;
box-shadow: 2px 5px 20px -7px gray;
}

.box-item {
    margin: 37px 152px 0px 117px;
}
.box h1{
   
        font-size: 37px;
        font-weight: bold;
  
}

/* contuct-us css start */


input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
 
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
 
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
 
  .container {
    border-radius: 17px;
    background-color: white;
    padding: 25px;
    box-shadow: 2px 5px 20px -7px gray;
  }


  .contuct-us {
    margin: 38px 57px 32px 55px;
    padding: 25px;
}

/* contuct us css end */
.footer{
    background-color: #18191F;
    height: 200px;
    margin-top: 71px;
    text-align: center;


}
.footer .title{
   padding: 10px;
}